<!DOCTYPE html>
<html>
<head>
    <title>Добавление пользователя</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Добавление пользователя</h1>
     <form action="saveUser" method="POST" id="form"> 
        <input name="id" value="{{user._id}}" hidden="true">
        <label>Имя</label>
        <input name="name" value="{{user.name}}" /><br><br>
        <label>Возраст</label>
        <input name="age" type="number" min="1" max="110" value="{{user.age}}" /><br><br>
        <input type="submit" value="Сохранить" />
     </form>
     <a href="/users">К списку пользователей</a>

    <script>
        const ws = new WebSocket('ws://localhost:3001')
        const form = document.getElementById('form');

        /*form.addEventListener('submit', e => {
            ws.send('Были изменены данные. Обновите страницу');
        })*/


        ws.onopen = () => console.log('ONLINE')

        ws.onclose = () => console.log('DISCONNECTED')

        ws.onmessage = response => console.log(response.data)
    </script>
</body>
<html>